<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="grzyClothTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="grzyClothTool.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <grzyClothTool.Properties.Settings>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplaySelectedDrawablePath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PolygonLimitHigh" serializeAs="String">
                <value>35000</value>
            </setting>
            <setting name="PolygonLimitMed" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="PolygonLimitLow" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="AutoDeleteFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkNewDrawables" serializeAs="String">
                <value>False</value>
            </setting>
        </grzyClothTool.Properties.Settings>
    </userSettings>
</configuration>